{{> head }}
{{> navbar }}
    
    <div class="row">
        <div class="col-8">
            <h1>To let the world be</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, neque quos? Dolorem necessitatibus perferendis magni, dolores cum cupiditate accusantium incidunt vero cumque doloremque non quibusdam libero ullam facere, consequuntur culpa?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/world.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}